.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout{
    background: #40739e;
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
    border-bottom: 1px solid #fff;
}
.pro-sidebar .pro-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
    border-top: 1px solid #fff;
}
