.talent-profile {
    height: 100vh;
    background: linear-gradient(135deg, #0e7fef 0%,#00a7c9 44%,#00d3a2 100%), linear-gradient(45deg, rgba(242,14,109,1) 0%,rgba(242,14,109,0.93) 7%,rgba(0,211,162,0) 100%);
    width: 110%;
    .profile {
        background-color: white;
        margin-top: auto;
        margin-bottom: auto;
        height: 65%;
        border-radius: 10px;
        width: 55%;
        &-card {
            height: 100%;

            &__avatar {
                text-align: center;

                img {
                    height: 200px;
                    width: 200px;
                    margin-top: 45%;
                    object-fit:cover;
                    border-radius: 50%;
                }
            }

            &__info {
                padding-top: 10%;

                .row {
                    height: 60px;
                    font-size: 20px;
                }
                .col-3 {
                    width: 30%;
                }
                .col-8 {
                    line-height: 1.5em;
                    height: 1.5em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: gray;
                }
            }
        }

        &-edit {
            float: right;
            cursor: pointer;
            font-size: 25px;
        }
    }
}

.modal {
    .profile-card__avatar {
        text-align: center;

        img {
            height: 150px;
            width: 150px;
            object-fit:cover;
        }

        &-change {
            text-align: center;
            text-decoration: underline;
            cursor: pointer;
        }

        &-change:hover {
            color: aqua;
        }
    }
    .text-muted {
        color: red !important;
    }
}
