.talent-right {
    overflow: auto;
    height: 100vh;
    padding-top: 20px;

    .talent-post {
        margin-bottom: 20px;

        .filter {
            margin-bottom: 10px;

            button {
                width: 150px;
                background-color: rgb(64, 115, 158);
                border: none;
            }
        }

        .post-card {
            height: 680px;

            &__image {
                width: 100%;
                height: 295px;
                object-fit: cover;
            }

            &__title {
                padding-right: 0;

                .h5 {
                    font-size: 24px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            &__status {
                padding-left: 0;
                text-align: right;

                > span {
                    border: 1px solid;
                    padding: 5px 10px;
                    font-family: Open Sans;
                    font-weight: bold;
                    font-size: 15px;
                    color: white;
                    border-radius: 5px;
                    display:inline;
                }

                &-pending {
                    background-color: #F2994A;

                }

                &-accept {
                    background-color: #2F80ED;
                }

                &-decline {
                    background-color: #EB5757;
                }
            }

            &__description {
                margin-top: 10px;
                height: 75px;

                > span {
                    color: #6E798C;
                    font-size: 16px;
                }

                > p {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            &__inline {
                margin-top: 10px;
                height: 30px;

                > span {
                    color: #6E798C;
                    font-size: 16px;
                }
            }

            &__button {
                display: flex;
                justify-content: center;

                > button {
                    background-color: rgb(64, 115, 158);
                    // #00BFFF;
                    border: 1px solid #40739e;
                    color: white;
                }
            }
        }

    }
}

.modal-detail {
    &__status {
        text-align: center;

        > span {
            border: 1px solid;
            padding: 5px 10px;
            font-family: Open Sans;
            font-weight: bold;
            font-size: 15px;
            color: white;
            border-radius: 5px;
        }

        &-pending {
            background-color: #F2994A;
        }

        &-accept {
            background-color: #2F80ED;
        }

        &-decline {
            background-color: #EB5757;
        }
    }
}
