.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    

    .listPost{
        width: 100%;
        margin-top: 70px;
        max-width: 1930px;
        overflow: auto;
        .createButton {
            position: fixed;
            right: 55px;
            background-color: darkseagreen;
            color: white;
            border: none;
            margin-top: 10px;
        }
        
        .post{
            float:left;;
            width:30.99999%;
            margin-right: 50px;
            margin-left: 11%;
            height: 500px;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 5px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            margin-top: 40px;
            margin-bottom: 20px;
            .defaultpost{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .post-body{
                padding: 1rem 1rem;
                .title {
                    font-size: 24px;
                    text-align: center;
                    clear: both;
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 400px; 
                    text-overflow: ellipsis;
                }
                .description{
                    margin-top: 10px;
                    height: 75px;
                    display: block;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    overflow: hidden;
                    max-height: 3.6em;
                    line-height: 1.8em;
                    
                }
                .buttons{
                    position: absolute;
                    left: 25%;
                    .seeButton{
                        background-color: rgb(64, 115, 158);
                        border: 1px solid #40739e;
                        color: white;
                    }
                    .editButton{
                        background-color: cornflowerblue;
                        border: 1px solid #40739e;
                        color: white;
                    }
                    .deleteButton{
                        background-color: indianred;
                        border: 1px solid #40739e;
                        color: white;
                    }
                }
                
            }
            
        }
        
    }
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}