.detail-talent-profile {
  height: 100vh;
  background-color: antiquewhite;

  .profile {
    background-color: white;
    margin-top: 85px;
    margin-bottom: auto;
    border-radius: 10px;
    border: outset;
    border-color: antiquewhite;
    margin-left: 10%;
    height: 85%;
    &-card {
      height: 95%;
      overflow: scroll;

      &__avatar {
        text-align: center;

        img {
          height: 200px;
          width: 200px;
          object-fit:cover;
          border-radius: 50%;
        }
      }

      &__info {
        padding-top: 3%;

        .row {
          font-size: 20px;
        }
      }
    }

    &-edit {
      float: right;
      cursor: pointer;
      font-size: 25px;
    }
  }
  .btn {
    position: relative;
    bottom: 2%;

    .accept{
      background-color: deepskyblue;
      color: white;
      width: 100px;
      margin-left: 300px;
    }
    .reject{
      background-color: red;
      color: white;
      width: 100px
    }
  }
}
.modal-content{
  .modal-title{
    font-size: 1.25rem;
  }
  .btn-primary{
    width: 110px;
  }
}
