header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgba(116, 110, 110, 0.199);
    background: linear-gradient(0deg, rgba(28,112,147,1) 6%, rgba(34,193,195,1) 100%);
}

.logo {
    margin-left: 10px;
    margin-bottom: 10px;
}

.header-inner {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginButton {
    margin-right: 20px;
    color: #1e90ff;
    background-color: #add8e6;
    font-size: 16px;
    margin-bottom: 17px;
    border-style: solid; 
    border-color: white; 
    border-radius: 5px;
    border-width: 1px;
    width: 150px;
    height: 32px;
}

.signupButton {
    margin-right: 30px;
    color: #1e90ff;
    background-color: #add8e6;
    font-size: 16px;
    margin-bottom: 17px;
    border-style: solid; 
    border-color: white; 
    border-radius: 5px;
    border-width: 1px;
    width: 150px;
    height: 32px;
}

.logoutButton {
    margin-right: 30px;
    color: #1e90ff;
    background-color: #add8e6;
    font-size: 16px;
    margin-bottom: 17px;
    border-style: solid; 
    border-color: white; 
    border-radius: 5px;
    border-width: 1px;
    width: 150px;
    height: 32px;
}