.login-page {
  padding: 20px;
  height: 1000px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  .login-form {
    max-width: 600px;
    height: auto;
    padding: 200px 50px;
    margin: auto;
  
    .signup-link {
      font-weight: 500;
  
      a {
        text-decoration: none;
        color: #0652DD;
        font-weight: 600;
      }
    }
  
    .btn-primary {
      background-color: #0652DD;
    }
  }

  .banner {
    border-radius: 25px;
  }
}