@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Yuji+Boku&display=swap');
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Shippori Antique', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}